<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alocação de funcionários</title>

    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <img src="/img/icon.png" alt="Logo" width="64" />
      <h1>Alocação de funcionários</h1>
    </header>
    <main class="container">
      <form
        th:action="@{/alocacao/cadastrar}"
        th:object="${Alocacao}"
        method="POST"
      >
        <div>
          <label>Funcionário</label>
          <select name="funcionario" id="funcionario">
            <option value="0" selected disabled>Selecione o funcionário</option>
            <th:block th:each="funcionario : ${Funcionario}">
              <option
                th:value="${funcionario.id}"
                th:text="${funcionario.nome}"
              ></option>
            </th:block>
          </select>
        </div>
        <div>
          <label>Cargo</label>
          <select name="cargo" id="cargo">
            <option value="0" selected disabled>Selecione o cargo</option>
            <th:block th:each="cargo : ${Cargo}">
              <option th:value="${cargo.id}" th:text="${cargo.nome}"></option>
            </th:block>
          </select>
        </div>
        <div>
          <label>Horas/mês</label>
          <input type="number" th:field="*{horas_mes}" />
        </div>
        <div>
          <label>Data de início</label>
          <input type="date" th:field="*{inicio}" />
        </div>
        <div>
          <label>Data de fim</label>
          <input type="date" th:field="*{fim}" />
        </div>
        <input type="submit" value="Cadastrar" />
      </form>
    </main>
  </body>
</html>
